In [6]:
import numpy as np
import yfinance as yf

msft = yf.Ticker("MSFT")
msft.splits

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

In [12]:
msft.calendar

                                    0                    1
Earnings Date     2023-01-23 10:59:00  2023-01-27 12:00:00
Earnings Average                 2.35                 2.35
Earnings Low                     2.25                 2.25
Earnings High                    2.83                 2.83
Revenue Average           53478700000          53478700000
Revenue Low               52574000000          52574000000
Revenue High              57220000000          57220000000

In [62]:
data = yf.download("AAPL", start="2022-10-17", end="2022-10-29")

[*********************100%***********************]  1 of 1 completed

In [65]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-17,141.070007,142.899994,140.270004,142.410004,142.410004,85250900
2022-10-18,145.490005,146.699997,140.610001,143.750000,143.750000,99136600
2022-10-19,141.690002,144.949997,141.500000,143.860001,143.860001,61758300
2022-10-20,143.020004,145.889999,142.649994,143.389999,143.389999,64522000
2022-10-21,142.869995,147.850006,142.649994,147.270004,147.270004,86464700

In [66]:
values = data['Close'].to_numpy()

In [67]:
values

array([142.41000366, 143.75      , 143.86000061, 143.38999939,
       147.27000427, 149.44999695, 152.33999634, 149.3500061 ,
       144.80000305, 155.74000549])

In [83]:
def float_bin(number, places):
    whole, dec = str(number).split('.')

    whole = int(whole)
    dec = int(dec)

    res = bin(whole).lstrip("0b")+"."

    for i in range(places):
        whole, dec = str((decimal_converter(dec)) * 2).split(".")

        dec = int(dec)

        res += whole

    res = float(res)
    return res

def decimal_converter(num):
    while num > 1:
        num /= 10
    return num

In [91]:
binary_num = np.array([])
for i in range(values.size):
    value = float_bin(values[i], 2)
    binary_num = np.append(binary_num, value)
print(binary_num)

[10001110.01 10001111.11 10001111.11 10001111.01 10010011.01 10010101.01
 10011000.01 10010101.01 10010000.11 10011011.1 ]

In [71]:
def fitness():