In [99]:
import numpy as np
import yfinance as yf

#msft = yf.Ticker("MSFT")
#msft.splits

In [100]:
#msft.calendar

In [101]:
data = yf.download("AAPL", start="2022-10-17", end="2022-10-29")

[*********************100%***********************]  1 of 1 completed

In [102]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-10-17,141.070007,142.899994,140.270004,142.410004,142.410004,85250900
2022-10-18,145.490005,146.699997,140.610001,143.750000,143.750000,99136600
2022-10-19,141.690002,144.949997,141.500000,143.860001,143.860001,61758300
2022-10-20,143.020004,145.889999,142.649994,143.389999,143.389999,64522000
2022-10-21,142.869995,147.850006,142.649994,147.270004,147.270004,86464700

In [103]:
values = data['Close'].to_numpy()

In [104]:
values

array([142.41000366, 143.75      , 143.86000061, 143.38999939,
       147.27000427, 149.44999695, 152.33999634, 149.3500061 ,
       144.80000305, 155.74000549])

In [105]:
def float_bin(number, places):
    whole, dec = str(number).split('.')

    whole = int(whole)
    dec = int(dec)

    res = bin(whole).lstrip("0b")+"."

    for i in range(places):
        whole, dec = str((decimal_converter(dec)) * 2).split(".")

        dec = int(dec)

        res += whole

    res = float(res)
    return res

def decimal_converter(num):
    while num > 1:
        num /= 10
    return num

In [106]:
binary_num = np.array([])
for i in range(values.size):
    value = float_bin(values[i], 2)
    binary_num = np.append(binary_num, value)
print(binary_num)

[10001110.01 10001111.11 10001111.11 10001111.01 10010011.01 10010101.01
 10011000.01 10010101.01 10010000.11 10011011.1 ]

In [122]:
def genes():
    a = -100
    b = 100
    x = a + (b - a) * np.random.rand(1,4)
    genes = (x)
    print(genes)

In [132]:
arr = np.array()
arr = genes()
print(arr)

TypeError: array() missing required argument 'object' (pos 0)

In [108]:
def fitness():

SyntaxError: incomplete input (2416764210.py, line 2)