In [88]:
import numpy as np
import math
import yfinance as yf

#msft = yf.Ticker("MSFT")
#msft.splits

In [4]:
#msft.calendar

In [31]:
data = yf.download("AAPL", start="2021-07-17", end="2021-10-29")

[*********************100%***********************]  1 of 1 completed

In [32]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-07-19,143.750000,144.070007,141.669998,142.449997,141.210052,121434600
2021-07-20,143.460007,147.100006,142.960007,146.149994,144.877823,96350000
2021-07-21,145.529999,146.130005,144.630005,145.399994,144.134354,74993500
2021-07-22,145.940002,148.199997,145.809998,146.800003,145.522202,77338200
2021-07-23,147.550003,148.720001,146.919998,148.559998,147.266861,71447400

In [33]:
values = data['Close'].to_numpy()

In [34]:
values

array([142.44999695, 146.1499939 , 145.3999939 , 146.80000305,
       148.55999756, 148.99000549, 146.77000427, 144.97999573,
       145.63999939, 145.86000061, 145.52000427, 147.36000061,
       146.94999695, 147.05999756, 146.13999939, 146.08999634,
       145.6000061 , 145.86000061, 148.88999939, 149.1000061 ,
       151.11999512, 150.19000244, 146.36000061, 146.69999695,
       148.19000244, 149.71000671, 149.61999512, 148.36000061,
       147.53999329, 148.6000061 , 153.11999512, 151.83000183,
       152.50999451, 153.6499939 , 154.30000305, 156.69000244,
       155.11000061, 154.07000732, 148.97000122, 149.55000305,
       148.11999512, 149.02999878, 148.78999329, 146.05999756,
       142.94000244, 143.42999268, 145.8500061 , 146.83000183,
       146.91999817, 145.36999512, 141.91000366, 142.83000183,
       141.5       , 142.6499939 , 139.13999939, 141.11000061,
       142.        , 143.28999329, 142.8999939 , 142.80999756,
       141.50999451, 140.91000366, 143.75999451, 144.83999634,
       146.55000305, 148.75999451, 149.25999451, 149.47999573,
       148.69000244, 148.63999939, 149.32000732, 148.8500061 ,
       152.57000732])

### Fitness function
It has been measured of central tendency calculated keeping in mind opening and closing price of the stock per day

**[Source](https://link.springer.com/chapter/10.1007/978-981-16-4301-9_10)**

In [35]:
def percentage_change_close(dataset, first, second):
    pcc = 100 * (dataset[dataset.size - first]-dataset[dataset.size - second])/dataset[dataset.size - 1]
    return pcc

In [36]:
print("Percentage change in closing values: ")
percentage_change_close(values, 2, 3)

Percentage change in closing values:

-0.30805610417540935

### Converts decimal number to binary number
Splits whole and decimal number, and converts them seperately. Iterates through all the values, and add them to an array.

In [46]:
def float_bin(number, places):
    whole, dec = str(number).split('.')

    whole = int(whole)
    dec = int(dec)

    res = bin(whole).lstrip("0b") + "."

    for i in range(places):
        whole, dec = str((decimal_converter(dec)) * 2).split(".")

        dec = int(dec)

        res += whole

    res = float(res)
    return res

def decimal_converter(num):
    while num > 1:
        num /= 10
    return num

In [64]:
def float_bin_whole(number):
    whole, dec = str(number).split('.')
    whole = int(whole)

    res = bin(whole).lstrip("0b")
    #res = int(res)
    return res

In [65]:
def binary_array():
    binary_num = np.array([])
    for i in range(values.size):
        value = float_bin_whole(values[i])
        binary_num = np.append(binary_num, value)
    return binary_num

In [73]:
binary_num = np.array([])
for i in range(values.size):
    value = float_bin_whole(values[i])
    #@value = int(value)
    binary_num = np.append(binary_num, value)
print(binary_num)

['10001110' '10010010' '10010001' '10010010' '10010100' '10010100'
 '10010010' '10010000' '10010001' '10010001' '10010001' '10010011'
 '10010010' '10010011' '10010010' '10010010' '10010001' '10010001'
 '10010100' '10010101' '10010111' '10010110' '10010010' '10010010'
 '10010100' '10010101' '10010101' '10010100' '10010011' '10010100'
 '10011001' '10010111' '10011000' '10011001' '10011010' '10011100'
 '10011011' '10011010' '10010100' '10010101' '10010100' '10010101'
 '10010100' '10010010' '10001110' '10001111' '10010001' '10010010'
 '10010010' '10010001' '10001101' '10001110' '10001101' '10001110'
 '10001011' '10001101' '10001110' '10001111' '10001110' '10001110'
 '10001101' '10001100' '10001111' '10010000' '10010010' '10010100'
 '10010101' '10010101' '10010100' '10010100' '10010101' '10010100'
 '10011000']

### Genes
Random numbers (originally between -100 and 100)

In [49]:
def genes():
    a = 0
    b = 100
    x = a + (b - a) * np.random.rand(1,4)
    genes = (x)
    return genes

In [50]:
arr = np.array([])
arr = genes()
print(arr[0])

[96.580698   81.53914959 62.42003496  4.71067063]

### Failed fitness function
Fitness function always returns number close to zero. Guessed value(y), mean squared error and error are abnormly huge.

Taken from article found [here](https://medium.com/analytics-vidhya/stock-price-prediction-using-genetic-algorithms-65c64b002d9)

In [51]:
from random import randint

def fitness(data, genes):
    mse = 0
    x = genes[0]
    y = x[0] + (1 + x[1])*data[data.size-2] - x[2]*data[data.size-3] + randint(0,1) + x[3]*randint(100,200)
    yi = data[data.size-1]
    mse = np.square(np.subtract(yi, y)).mean()
    error = np.square(mse/10)
    fitness = 1/error
    return fitness, error, mse, y

In [52]:
fitness(values, arr)

(6.852339270487002e-13,
 1459355645607.0352,
 12080379.32188818,
 3628.254015097103)

### Possible fitness solution??

In [53]:
def fitness_possible(data):
    x1 = data.size - 1
    x2 = data.size - 5
    change = 1 + (percentage_change_close(data, 5, 6)/100)
    y = (change*(data[x1] + data[x2]))/2
    yi = data[data.size - 1]

    mse = np.square(np.subtract(yi, y)).mean()
    error = np.square(mse/10)
    fitness = 1/error

    return y, yi, data[x1], data[x2], change, mse, error, fitness

In [54]:
fitness_possible(values)

(149.8500567486114,
 152.57000732421875,
 152.57000732421875,
 148.69000244140625,
 0.9948220931493171,
 7.398131133746789,
 0.5473234427211355,
 1.8270732110948622)

## Mutation

In [148]:
def mutation(x):
    base = 7
    start = np.random.randint(1, math.floor(base))
    #end = np.random.randint(start, math.floor(base))
    end = start + 1
    x_string = str(bin(x))[2:]

    if len(x_string) != base:
        for i in range(base - len(x_string)):
            x_string = '0' + x_string
    
    x_string = list(x_string)
    for c in range(start, end):
        x_string[c] = '1' if x_string[c] == '0' else '0'

    
    return ''.join(x_string)

In [152]:
x = values[values.size - 2]
y = int(x)

b = float_bin_whole(x)
print("Original bitstring: " + b)

mutated = mutation(y)
print("Mutated bitstring: " + mutated)

Original bitstring: 10010100
Mutated bitstring: 10011100